/* = Hacks, oopsies and omgs
=======================================================
*/
#buddypress .item-list li{
	clear: both;
}

#buddypress .item-list li li{
	clear: none;
}

#buddypress .buddypress-pagination{
	overflow: hidden;
}

#buddypress .activity-meta{
	overflow: hidden;
}

#buddypress .message-content {
	width: 60%;
	float:right;
}

.messages #buddypress .item-list-tabs {
	overflow: hidden;
}

.messages #buddypress .item-list-tabs .messages-nav li a {
	float: left;
	padding: 0 10px;
	text-decoration: none;
}

#buddypress .messages-nav li {
	border-right: 1px solid #777;
}

#buddypress .messages-nav li:last-child {
	border-right: none;
}

.messages #buddypress .messages-list {
	overflow: hidden;
}

#buddypress .message-header {
	float: left;
	width: 28%;
	margin-right: 5%;
}

#buddypress .messages-list ul li {
	overflow: hidden;
}

#buddypress .messages-list img.avatar {
	float: left;
	margin-right: 2%;
}

#buddypress .messages-list span,
#buddypress .message-content span {
	display: block;
}

#buddypress .message-search {
	margin: 2% 0;
	float: left;
}

.messages #buddypress #item-body .item-list-tabs ul {
	padding: 1% 0 1% 0;
	float: right;
}

.messages #buddypress #item-body .item-list-tabs li {
	float: left;
	padding: 1% 0;
}

.message-wrap {
	overflow: hidden;
	margin-bottom: 2em;
}

#buddypress textarea,
#buddypress input#subject.message-subject,
#buddypress ul.acfb-holder li,
#buddypress input#send-to-input {
	width: 100%;
	margin-bottom: 2%;
}

#buddypress input#send-notice {
	margin: 0 0 3% 0;
}
.hide {
	display: none;
}