/* = Hacks, oopsies and omgs
=======================================================
*/
#buddypress .item-list li{
	clear: both;
}
#buddypress .item-list li li{
	clear: none;
}
#buddypress .buddypress-pagination{
	overflow: hidden;
}
#buddypress .activity-meta{
	overflow: hidden;
}
#buddypress .message-content {
	width: 60%;
	border: 1px solid pink;
	float:right;
}

.messages #buddypress .item-list-tabs {
	overflow: hidden;
}
.messages #buddypress .messages-list {
	overflow: hidden;
	border: 1px solid blue;
}

#buddypress .message-header {
	float: left;
	width: 28%;
}
#buddypress .messages-list ul li {
	overflow: hidden;
	border: 1px solid orange;
}

#buddypress .messages-list img.avatar {
	float: left;
	margin-right: 2%;
}

#buddypress .messages-content-wrap form {
	border: 1px solid green;
}

#buddypress .messages-list span,
#buddypress .message-content span {
	display: block;
}

#buddypress .message-search {
	margin: 2% 0;
	border: 1px solid yellow;
	float: left;
}

#buddypress .message-content {
	
}

.messages #buddypress #item-body .item-list-tabs ul {
	border: 1px solid violet;
	padding: 1% 0 1% 0;
	float: right;
}

.messages #buddypress #item-body .item-list-tabs li {
	float: left;
	padding: 1% 0;
}
.messages #buddypress label {
	display: block;
}

.messages #buddypress input.message-subject,
.messages #buddypress textarea.compose-message-content {
	width: 60%;
}